<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>密钥生成</title>
    <style>
        input,p,select,option{
            font-size: 20px;
        }
        .simple{
            width:1300px;
            height:100%;
            float:right;
            text-align:left;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">密钥生成</h1>
<div class="simple">
    <form method="post" action="/showKey">
        <div class="small">
        <p>
            选择软件类别:
            <select name="softwareType">
                <option value="software1" selected="selected">1号软件</option>
                <option value="software2">2号软件</option>
            </select>
        </p>
        <p>密钥个数: <input type="text" value="1" name="time"></p>
        <input type="submit" value="确定">
        <div>
    </form>
</div>
</body>
</html>
