<html>
<head>
    <title>北极熊论坛</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/static/indexContent/index.css">
    <link rel="shortcut icon" href="/static/indexContent/ironMan.ico"> <!--图标 -->
    <!--
    <link rel="shortcut icon" href="ironMan"> 
    <link rel=“stylesheet” href="{% static 'indexContent/index.css' %}">
    <link rel="stylesheet" href="index.css"> -->
</head>

<body>
    <div style="background-color:#87CEFA;height:90px;width:100%" style="float">
        <div class="sm1">
            <img class="img1" src="/static/indexContent/bear.jpg">
        </div>
        <div class="smallDiv">网站首页</div>
        <div class="smallDiv">最新资源</div>
        <div class="smallDiv">自助开通VIP</div>
        <div class="smallDiv1">
            <span>登录</span>
            <span>注册</span>
        </div>
    </div>
    
    <div>
        <h2>VIP资源专区</h2>
        <div id="vip">
            <div class="blank"></div>
            <div class="abs">
                <img class="img2" src="https://www.lthack.com/template/nuoui_vhouse/style/images/jpkc1.jpg"></img>
            </div>
            <div class="content">
                <div class="contentItem">
                    <h4>软件编程</h4>
                    <img class="img3" src="https://www.lthack.com/template/nuoui_vhouse/style/images/jpck1.jpg">
                </div>
                <div class="contentItem">
                    <h4>逆向破解</h4>
                    <img class="img3" src="https://www.lthack.com/template/nuoui_vhouse/style/images/jpck2.jpg">
                </div>
                <div class="contentItem">
                    <h4>网络安全</h4>
                    <img class="img3" src="https://www.lthack.com/template/nuoui_vhouse/style/images/jpck3.jpg">
                </div>
                <div class="contentItem">
                    <h4>网络安全</h4>
                    <img class="img3" src="https://www.lthack.com/template/nuoui_vhouse/style/images/jpck3.jpg">
                </div>
                <div class="contentItem">
                    <h4>网络安全</h4>
                    <img class="img3" src="https://www.lthack.com/template/nuoui_vhouse/style/images/jpck3.jpg">
                </div>
            </div>
        </div>

        <h2>免费资源专区</h2>
        <div id="vip">
            <div class="blank"></div>
            <div class="abs">
                <img class="img2" src="https://www.lthack.com/template/nuoui_vhouse/style/images/jpkc.jpg"></img>
            </div>
            <div class="content">
                <div class="contentItem"></div>
            </div>
        </div>
    </div>
</body>

</html>
