#left1{
    width:68%;
    height:100%;
    float:left;
    background-color:pink;
    text-align:center;
}
#left2{
    width:30%;
    height:100%;
    float:right;
    background-color:purple;
    text-align:center;
}
#content1{
    width:90%;
    height:85%;
    float:right;
    background-color:red;

}
.content2{
    height:500px;
    width:45%;
    float:left;
    background-color:green;
}
.content3{
    height:500px;
    width:45%;
    float:right;
    background-color:blue;
}
